html, body {
    padding : 0;
    margin  : 0;
}

input[type="text"] {
    border-radius : 0;
    padding       : 5px 10px;
    width         : 100%;
}

h2 {
    letter-spacing : -1.8px;
    color          : rgb(65, 65, 66);
    font-size      : 2rem;
    padding        : 0;
    margin         : 0;
    text-transform : uppercase;
    font-weight    : bold;
}

label {
    color : rgb(86, 86, 86);
}

small {
    color : rgb(204, 204, 204)
}

.container {

    display         : grid;
    justify-content : center;
    background      : rgb(255, 255, 255);
    margin-top      : 6rem;

}

.content {
    margin         : 0 auto;
    padding        : 3rem;
    display        : grid;
    grid-auto-rows : auto;
    width          : 400px;

}

.header {
    text-align : left;
    margin     : 0 0 2rem;
}

.options {
    grid-row-gap       : 10px;
    grid-template-rows : auto;
    display            : grid;
}

.item {
    display               : grid;
    grid-column-gap       : 5px;
    grid-template-columns : 30% 70%;
    align-items           : center;
}

.item.baseline {
    align-items : baseline;
}

.action {
    text-align : right;
}

.title.small {
    font-size      : 0.6rem;
    text-transform : uppercase;
}

.red {
    color : rgb(212, 58, 37);
}

.blue {
    color : rgb(98, 136, 197);
}
